<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes | Saravanan G</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <h1>Saravanan G</h1>
        <h2>Books I’ve Read</h2>
    </header>
    
    <main>
        <section class="intro">
            <p>Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.</p>
            <p>Sorted with my top recommendations up top. Sort by <a href="">title</a>, <a href="">newest</a>, or <a href="">best</a>.</p>
            <p>And please read this FAQ page about these notes, if you have any questions. You can also email me.</p>
            <hr>
        </section>
        <% items.forEach(item => { %>
            <section class="book">
                <img src=<%=item.img_src %> alt="Book Cover" class="book-cover">
                <div class="book-details">
                    <h3>
                        <form action="/details" method="POST">
                          <input type="hidden" name="id" value="<%= item.id %>">
                          <button type="submit"><%= item.title %></button>
                        </form>
                      </h3>
                    <p><strong>Date read:</strong> <%=  new Date(item.date).toISOString().split('T')[0]  %> | <strong>Recommendation:</strong> <%= item.recomendation %>/10</p>
                    <p><%= item.short_summary %></p>
                    <p><a href="">Read my notes</a>, or go to the <a href="https://www.amazon.com/s?k=<%= item.isbn %>" target="_blank">Amazon page</a> for details and reviews.</p>
                </div>
            </section>
        <% }) %>

    </main>
</body>
</html>